html{
  box-sizing: border-box;
}
*,
*::before,
*::after{
  box-sizing: inherit;
}

body{
  font-family:'Roboto-Regular', sans-serif;
  margin: 0;
  padding: 0;
}
a{
  display: inline-block;
  text-decoration: none;
  color:#fff;
  font-size: 16px;
  line-height: 18px;
} 

ul,
li{
  margin: 0;
  padding: 0;
  list-style:none;
}
.container__unit{
  padding: 0 70px ;
}