@import "global";
@import "vars";
@import "fonts";
.header{
  position: relative;
}
.header__avialable{
  max-width:100%;
  background-color: $yellow;
  position: relative;
  padding: 12px 20px;
  text-align: center;
  margin-bottom: 1px;
  span{
    position:absolute;
    right:25px;
  }
}
.header__inner{
  background-color: $blue-t;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 811px;
  &-box{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
  }
}
.header__menu{
  margin-right: 90px;
  ul{
    display: flex;
    justify-content: space-between;
  }
  li + li{
    padding-left: 67px;
  }
  a{
    color:#fff;
  }
}
.basket{
  position: relative;
  span{
    position: absolute;
    padding:5px 7px;
    background-color: $yellow;
    font-size: 10px;
    font-weight: 700;
    top:-10px;
    right:-17px;
  }
}
.header__total{
  position: absolute;
  bottom:45px;
}
.header__title{
  font-size: 81px;
  line-height: 81px;
  color:#fff;
  max-width:420px;
  margin-bottom: 70px;
}
.a-button{
  background-color: $blue;
  padding: 15px 31px;
  color:#fff;
  border-radius: 25px;
}
// start wellness

.wellness{
  background-color: $darkblue;
  padding: 150px 0 140px;
  display: flex;
  justify-content: center;
  &__inner{
  color:#fff;
  text-align: center;
  }
  &__text{
    margin-top: 40px;
    font-size: 36px;
    line-height: 46px;
    width: 830px;
  }
}

// end wellness
// start wellness
.promises{
  background-color: $lightblue;
  &__inner{
    color:$black;
    padding: 75px 0 95px;
  }
  &__title{
    text-align: center;
    font-size: 38px;
    line-height: 40px;
  }
}
.promises__items{
  margin-top: 55px;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}
.promises__item{
  width: 270px;
  text-align: center;
  &+ .promises__item{
    width: 300px;
  }
  &-title{
    font-size: 24px;
    line-height: 26px;
    margin-top: 15px;
  }
  &-text{
    margin-top: 40px;
    font-size: 16px;
    line-height: 24px;
  }
}

.products{
  padding: 100px 0 180px;
  &__total{
    text-align: center;
  }
  &__title{
    margin-top: 45px;
    font-size: 36px;
    line-height: 40px;
  }
  &__box{
    margin-top: 60px;
    display: flex;
  }
}
.product__photo{
  padding: 200px 100px 142px;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  &-title{
    color:#fff;
    font-size: 45px;
    line-height: 50px;
    text-align: center;
    width: 250px;
  }
  &-btn{
    margin-top: 50px;
  }
}
.product__info{
  background-color: #cfe7f3;
  padding: 80px 60px 50px ;
  height: 500px;
  &-title{
    font-size: 24px;
    line-height: 32px;
    color:$black;
  }
  &-price{
    font-size: 18px;
    line-height: 25px;
    color:$darkblue;
  }
  &-img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 230px;
    height: 270px;
    width: 476px;
  }
  &-btn{
    padding: 15px 458px;
  }
}
.product__info-down{
  background-color: #edf3f6;
}

.multitask{
  background-color:$lightblue;
  padding: 125px 300px 235px;
  text-align: center;
  &__title{
    color:$black;
    margin-top: 30px;
    font-size: 36px;
    line-height: 40px;
    padding: 0 120px;
  }
}

.customer{
  background-color: $darkblue;
  padding: 115px 20px 200px;
  position: relative;
  &__title{
  margin-top: 50px;
  color:#fff;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  }
}
.customer__frame{
  background-color: #fff;
  width: 420px;
  padding: 50px;
  position: absolute;
  right:650px;
  top:425px;
  display: none;
  &-text{
    font-size: 22px;
    line-height: 24px;
    color:$black;
    margin-bottom: 145px;
  }
  &-name{
    font-size: 20px;
    font-weight: 700;
  }
  &-logo{
    svg{
      fill:$yellow;
    }
  }
}
.customer__box{
  display: flex;
  justify-content: space-between;
} 
.customer__items{
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.customer__item{
  width: 755px;
  height: 625px;
  background-color: $yellow;
  &-right{
    background-color: $blue-t;
  }
  &:hover{
    background-color: rgba(254, 208, 151, 0.7);
    .customer__frame{
      display: block;
    }
  }
  &-right:hover{
    background-color: rgba(57, 96, 134, 0.7);
  }
}
.proven__inner{
  padding: 90px 0 45px;  
  margin-left: 80px;
  &-item{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 947px;
    height: 718px;
    position: relative;
  }
  &-flag{
    position: absolute;
    bottom: 35px;
    right: -233px;
    width: 416px;
    background-color: $lightblue;
    padding: 80px 52px 20px;
  }
  &-title{
    font-size: 36px;
    line-height: 40px;
    font-weight: 500;
  }
  &-text{
    margin-top: 70px;
    font-size: 16px;
    line-height: 24px;
  }
  &-btn{
    margin-top: 120px;
    padding: 17px 35px;
    border:1px solid $black;
    color:$black;
    border-radius:30px;
  }
}
.proven__inner-down{
  margin-top: 175px;
  margin-left: 263px;
  .proven__inner-flag{
    left:-233px;
    bottom: 170px;
    background-color: $lightyellow;
  }
}